<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/user/submitUserList" method="post">
  ID:<input type="text" name="users[0].id"><br/>
  Username:<input type="text" name="users[0].name"><br/>
  Password:<input type="text" name="users[0].pwd"><br/><br/>

  ID:<input type="text" name="users[1].id"><br/>
  Username:<input type="text" name="users[1].name"><br/>
  Password:<input type="text" name="users[1].pwd"><br/><br/>
  <input type="submit" value="Submit">
</form>
</body>
</html>
